body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
span {
  color: grey;
  font-size: 10px;
}
.active {
  color: aliceblue;
}
.ul-style {
  background-color: rgb(15, 16, 16);
  list-style: none;
  text-align: right;
}
.ul-style li {
  display: inline-block;
  padding: 5px 10px;
}

a {
  color: #00B7FF;
  text-decoration: none;
}
